{
  "plugins": [
    // must be an array with options object as second item
    [
      "react-transform",
      {
        // must be an array of objects
        "transforms": [
          {
            // can be an NPM module name or a local path
            "transform": "react-transform-hmr",
            // see transform docs for "imports" and "locals" dependencies
            "imports": [
              "react"
            ],
            "locals": [
              "module"
            ]
          },
          {
            // you can have many transforms, not just one
            "transform": "react-transform-catch-errors",
            "imports": [
              "react"
            ]
          }
        ]
      }
    ]
  ]
}