{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "env": {
    "shared-node-browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "no-debugger": "off",
    "no-unused-vars": "off",
    "no-undef": "off",
    "no-redeclare": "off",
    "prefer-const": "off"
  }
}
